structure          ./OUT_water_ionized_bondcorrection.psf
coordinates        ./OUT_water_ionized_bondcorrection.pdb

set temperature    298
set outputname     test


firsttimestep       0


#############################################################
## SIMULATION PARAMETERS                                   ##
#############################################################

# Input
paraTypeCharmm      on
parameters           ./par_water_ions.prm
parameters           ./par_nanotubes.inp
parameters           ./par_all36_prot.prm

temperature         $temperature

# Force-Field Parameters
exclude             scaled1-4
1-4scaling          1.0
cutoff              12.
switching           on
switchdist          10.
pairlistdist        15.0
margin               8.0

# Integrator Parameters
# fullElectFrequency*timestep <=4.0
# stable time steps:
#       with rigidBonds=all: electro:6fs;short-rangeNB:2fs;bonded:2fs
#       otherwise          :         2fs               2fs        1fs
timestep            2.0  ;# 2fs/step
rigidBonds         all  ;# Needed for 2fs steps
useSettle           on
nonbondedFreq       1
fullElectFrequency  2
stepspercycle       10
zeroMomentum        yes


# Constant Temperature Control
langevin            off    ;# do langevin dynamics
langevinDamping     5     ;# damping coefficient (gamma) of 5/ps
langevinTemp        $temperature
langevinHydrogen    off    ;# don't couple langevin bath to hydrogens

#temperature coupling for temperature coupling
tCouple             on
tCoupleTemp         $temperature


# Periodic Boundary Conditions
# center of the periodic box; NOT ORIGIN!!!
cellBasisVector1 71 0 0
cellBasisVector2 0 68 0
cellBasisVector3 0 0 124
cellOrigin 10.136194229125977 18.867944717407227 61.83677673339844
#add appropriate numbers at # above

wrapAll             on


# PME (for full-system periodic electrostatics)
# multiples of 2,3,5 & >=dimensions above
PME                 yes
PMEGridSizeX        90
PMEGridSizeY        90
PMEGridSizeZ        150
#add appropriate numbers at # above

# Constant Pressure Control (variable volume)
useGroupPressure      yes ;# needed for rigidBonds
useFlexibleCell       no
useConstantArea       no

langevinPiston       on
langevinPistonTarget  1.01325 ;#  in bar -> 1 atm
langevinPistonPeriod  100.
langevinPistonDecay   50.
langevinPistonTemp    $temperature


# Output
outputName          $outputname

restartfreq         50000           
dcdfreq             10000                
xstFreq             10000
outputEnergies      10000
outputPressure      10000

#############################################################
## EXECUTION SCRIPT                                        ##
#############################################################

# Minimization
minimize            5000
reinitvels          $temperature

run 111000  ;# 
