##############################################################
## JOB DESCRIPTION                                         ##
#############################################################

# beta catenin


#############################################################
## ADJUSTABLE PARAMETERS                                   ##
#############################################################

structure          ./DMPC_water_ions_patch.psf
coordinates        ./DMPC_water_ions_patch.pdb

set temperature    290
set outputname    DMPC_patch_NPT_0_20ns_290K

# Continuing a job from the restart files
if {0} {
set inputname      ./XXX
binCoordinates     $inputname.restart.coor
binVelocities      $inputname.restart.vel
extendedSystem     $inputname.restart.xsc
}

firsttimestep       0


#############################################################
## SIMULATION PARAMETERS                                   ##
#############################################################

# Input
paraTypeCharmm      on
parameters           ./par_water_ions.prm
parameters           ./par_all36_lipid.prm

temperature         $temperature

# Force-Field Parameters
exclude             scaled1-4
1-4scaling          1.0
cutoff              12.
switching           on
switchdist          10.
pairlistdist        15.0
margin               8.0

##fix atoms here 
#fixedAtoms on
#fixedAtomsFile ./fix_waters.pdb
#fixedAtomsCol B 

# Integrator Parameters
# fullElectFrequency*timestep <=4.0
# stable time steps:
#       with rigidBonds=all: electro:6fs;short-rangeNB:2fs;bonded:2fs
#       otherwise          :         2fs               2fs        1fs
timestep            2.0  ;# 2fs/step
rigidBonds         all  ;# Needed for 2fs steps
useSettle           on
nonbondedFreq       1
fullElectFrequency  2
stepspercycle       10
#########################
zeroMomentum        yes
#########################


# Constant Temperature Control
langevin            off    ;# do langevin dynamics
langevinDamping     5     ;# damping coefficient (gamma) of 5/ps
langevinTemp        $temperature
langevinHydrogen    off    ;# don't couple langevin bath to hydrogens

#temperature coupling for temperature coupling
tCouple             on
tCoupleTemp         $temperature

if {1} {
# Periodic Boundary Conditions
# center of the periodic box; NOT ORIGIN!!!
cellBasisVector1 108.5 0 0
cellBasisVector2 0 108.5 0
cellBasisVector3 0 0 71
cellOrigin 0 0 0
}
wrapAll             on


# PME (for full-system periodic electrostatics)
# multiples of 2,3,5 & >=dimensions above
PME                 yes
PMEGridSizeX        120
PMEGridSizeY        120
PMEGridSizeZ        90


# Constant Pressure Control (variable volume)
useGroupPressure      yes ;# needed for rigidBonds
useFlexibleCell       no
useConstantArea       no

langevinPiston       on
langevinPistonTarget  1.01325 ;#  in bar -> 1 atm
langevinPistonPeriod  100.
langevinPistonDecay   50.
langevinPistonTemp    $temperature


# Output
outputName          $outputname

restartfreq         500000             ;# every 1 ns
dcdfreq             10000                ;# 
xstFreq             10000
outputEnergies      10000
outputPressure      10000


#############################################################
## EXECUTION SCRIPT                                        ##
#############################################################

# Minimization
minimize            5000
reinitvels          $temperature

run 10000000 ;# for 10 ns
